*{
  padding: 0;
  margin: 0;
}

body {
  user-select: none;
  padding: 0;
  margin: 0;
  background-color: rgb(30,30,30);
  color: white;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  -webkit-app-region: drag;
}

.header-btn{
  padding: 5px 15px;
  border: none;
  background-color: inherit;
  color: inherit;
  -webkit-app-region: none;
}

.header-btn:hover {
  background-color: rgb(50, 50, 50);
}